.tab-button {
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Roboto';
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .tab-button {
    font-size: 20px;
  }
}

.selected-tab {
  border-bottom: 2px solid #fec653;
  color: #fec653;
}
